<?xml version="1.0"?>
<model>
  <name>Scout Mini</name>
  <version>1.0</version>
  <sdf version="1.6">models/scout_mini.sdf</sdf>
  <author>
    <name>AgileX Robotics</name>
    <email>support@agilex.ai</email>
  </author>
  <description>
    Scout Mini 2.0 differential drive robot with optional sensors.
  </description>
</model>